{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
  <br/>
  <h3>
    Resultado
  </h3>

  <head>
    <!-- Plotly.js  -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.6.4.min.js"></script>  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
  
  </head>
  <div class="list-group">
    <div class="list-group-item list-group-item-action active">
      {{ amp }} <span class="badge badge-pill badge-info">({{ state.pin_total }}, {{ state.pout_total }})</span>
    </div>
    <div class="list-group-item list-group-item-action">
      {{ grafico | safe }}
    </div>
    <div class="list-group-item list-group-item-action active">
      Autor: {{ amp.responsible }}
      <br />
      Email: {{ amp.email }}
      <br />
    </div>
  </div>

  </br>

  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Info!</strong> O gráfico de comparação faz relação apenas com os pins localizados nos canais de frequências
    conhecidos do amplificador.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  </br>

  <div class="list-group">
    <div class="list-group-item list-group-item-action active">
      Comparação <span class="badge badge-pill badge-info"></span>
    </div>

    <div class="list-group">
      <canvas id="myChart"></canvas>
    </div>
    
    <div class="list-group-item list-group-item-action active">
      Autor: {{ amp.responsible }}
      <br />
      Email: {{ amp.email }}
      <br />
    </div>
  </div>

</div>
</br>

<script type="text/javascript">

  var ctx = document.getElementById("myChart").getContext('2d');
  var entradas = {{ pins }}
  var saidas = {{ pouts }}
  var frequencia = {{ freq }}
  var dados = []
  var count = 1
  var border = ['rgba(235, 77, 75,1.0)', 'rgba(34, 166, 179,1.0)', 'rgba(106, 176, 76,1.0)']
  var colors = ['rgba(235, 77, 75, 0.8)', 'rgba(34, 166, 179, 0.8)', 'rgba(106, 176, 76, 0.8)']

  entradas.forEach(
    (sinal) => {
      var d = []
      for(var i = 0; i < sinal.length; i++) {
        d.push(
          {
            x: frequencia[i],
            y: sinal[i]
          }
        )
      }
      dados.push(
        {
          label: 'Entrada '+ count.toString(), // Name the series
          data: d, // Specify the data values array
          borderColor: border[count-1], // Add custom color border            
          backgroundColor: 'white', //colors[count-1], // Add custom color background (Points and Fill)
          pointRadius: count+4,
          borderWidth: 1,
          pointStyle: 'circle'
        } 
      )
      count += 1
    }
  );

  count = 1
  saidas.forEach(
    (sinal) => {
      var d = []
      for(var i = 0; i < sinal.length; i++) {
        d.push(
          {
            x: frequencia[i],
            y: sinal[i]
          }
        )
      }
      dados.push(
        {
          label: 'Saída '+ count.toString(), // Name the series
          data: d, // Specify the data values array
          borderColor: border[count-1], // Add custom color border            
          backgroundColor: colors[count-1], //colors[count-1], // Add custom color background (Points and Fill)
          pointRadius: count+4,
          borderWidth: 1,
          pointStyle: 'circle'
        } 
      )
      count += 1
    }
  );

  var options = {
      hover: {
          mode: 'nearest',
          intersect: true,
          legend: {
            display: false
          }
      },
      legend:{
        labels:{
          usePointStyle: true
        },
      },
      responsive: true, // Instruct chart js to respond nicely.
      maintainAspectRatio: false, // Add to prevent default behaviour of full-width/height 
      scales: {
          xAxes: [
              {
                ticks: { // if i use this it always set it '1', which look very awkward if it have high value  e.g. '100'.
                        callback: function(value, index, values) {
                        return (parseInt(value/1000000000000)).toString() + ' T';
                    }
                },
                gridLines: {
                  display: false
              },
              }],
          yAxes: [
            {
              gridLines: {
                  display: false
              },
            }
          ]
      },
      scaleShowLabelBackdrop : true,
      scaleLabel : "<%%= Number(value) + ' %'%>",
      //tooltipTemplate: "<%%= value %> Label",
      multiTooltipTemplate: "<%=datasetLabel%> : <%= value/ %>"  ,
  };

  // End Defining data
  var myChart = new Chart(ctx, {
      type: 'scatter',
      data: {
          datasets: dados
      },
      options: options
  });
</script>
{% endblock %}