{% extends 'base.html' %}
{% load static %}

{% block title %} About Operational Amplifiers {% endblock %}

{% block content %}
<div class="container">
  <br />

  <head>
    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.6.4.min.js"></script>  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <script src="https://raw.githubusercontent.com/google/palette.js/master/palette.js"></script>
  
  </head>

  <body>
    <div class="list-group">
      <div class="list-group-item list-group-item-action active">
        {{ amp }}
      </div>
      <div class="list-group-item list-group-item-action">
        {{ grafico | safe }}
        <script>
          var myPlot = document.getElementsByClassName("plotly-graph-div js-plotly-plot")[0];
          
          myPlot.on('plotly_click', function (data) {
            var pts = '';
            for (var i = 0; i < data.points.length; i++) {
              pts = '/result/' + {{ id }} + '/' + data.points[i].x + '/' +
              data.points[i].y;
          }
            window.location = pts
          });

        </script>
      </div>
      <div class="list-group-item list-group-item-action active">
        Autor: {{ amp.responsible }}
        <br />
        Email: {{ amp.email }}
      </div>
    </div>
    <br />
    <div class="list-group">
      <canvas id="myChart"></canvas>
    </div>

  </body>
</div>

<script type="text/javascript">

  var ctx = document.getElementById("myChart").getContext('2d');
  var xs = {{ Pin_Total }};
  var ys = {{ Pout_Total }};

  // Define the data 
  dados = []
  for(var i = 0; i < xs.length; i++) {
    dados.push(
      {
        x: xs[i],
        y: ys[i]
        //r: parseFloat((ys[i]-xs[i])/5).toFixed(2)
      }
    )
  }
 
  // End Defining data
  var options = {
    legend:{
      display: false,
      labels: {
        fontColor:'#000',
        fontFamily:'sans-serif'
      }
    },
    elements: { 
      point: { 
        radius: 5,
        hitRadius: 8, 
        hoverRadius: 8,
      } 
    },
    hover: {
        mode: 'nearest',
        intersect: true,
        legend: {
          display: false
        }
    },
    scales: {
      yAxes: [
        {
          gridLines: {
              display: false
          },
        }
      ],
      xAxes: [
        {
          gridLines: {
              display: false
          },
        }
      ]
    },
    responsive: true, // Instruct chart js to respond nicely.
    maintainAspectRatio: false, // Add to prevent default behaviour of full-width/height 
  };

  // End Defining data
  var myChart = new Chart(ctx, {
    type: 'scatter',
    data: {
      datasets: [{
          label: '(PIN, POUT)', // Name the series
          data: dados, // Specify the data values array
          borderColor: 'rgba(41, 128, 185, 1.0)', // Add custom color border            
          backgroundColor: 'rgba(41, 128, 185, 0.8)',
          //pointRadius: 6,
        }
      ]
    },
    options: options
  });

</script>

{% endblock %}