{% extends 'base.html' %}
{% load static %}

{% block title %} About Operational Amplifiers {% endblock %}

{% block content %}

<html>

<head>
  <!-- Plotly.js -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.6.4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
</head>

<body>
  <!-- Page Wrapper -->
  <div id="wrapper" style="background-color: rgba(39, 60, 117,1.0);">
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column" style="background-color: rgba(39, 60, 117,1.0);">
      <!-- Main Content -->
      <div id="content" class="container">
        <div class="row">
          <!-- Area Chart -->
          <div class="col">
            <br />
            <div class="card shadow">
              <!-- Card Header -->
              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <div class="header">
                  <h5 class="m-0 font-weight-bold" style="font-weight: bold; color: rgb(33, 37, 41)">{{ amp.reference }}
                  </h5>
                  <caption class="m-0 font-weight-bold text-primary">PIBITI Ufal</caption>
                </div>
              </div>
              <!-- Card Body -->
              <div class="card-body">
                {{ grafico | safe }}
                <script>
                  var myPlot = document.getElementsByClassName("plotly-graph-div js-plotly-plot")[0];
                  myPlot.on('plotly_click', function (data) {
                    var pts = '';
                    for (var i = 0; i < data.points.length; i++) {
                      pts = '/result/' + {{ id }}
                      + '/' + data.points[i].x + '/' +
                      data.points[i].y;
                  }
                    window.location = pts
                  });
                </script>
                <p>
                  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
                    aria-expanded="false" aria-controls="collapseExample">
                    Predição
                  </button>
                </p>
                <div class="collapse" id="collapseExample">
                  <div class="card card-body">
                    <div class="form-group">
                      <label>Selecione um valor de Ganho</label>
                      <select class="form-control selectpicker" id="ganho">
                      </select>
                    </div>
                    <form method="post" enctype="multipart/form-data" id="my_form">
                      {% csrf_token %}
                      {{ form.as_p }}
                      <button type="submit" class="btn btn-primary btn-block" style="width: 20%;">Enviar</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br />
        <!-- 
          <div class="list-group">
            <canvas id="myChart"></canvas>
          </div> -->
      </div>
      <br />
    </div>
</body>

</html>

<style>
  footer {
    flex-shrink: 0;
    background-color: #134c7d;
    margin: 2px auto 0 auto;
    position: absolute;
    width: 100%;
    bottom: 4px;
  }
</style>


<script>
  /*
  var ctx = document.getElementById("myChart").getContext('2d');
  var xs = {{ Pin_Total }};
  var ys = {{ Pout_Total }};

  // Define the data 
  dados = []
  for(var i = 0; i < xs.length; i++) {
    dados.push(
      {
        x: xs[i],
        y: ys[i]
        //r: parseFloat((ys[i]-xs[i])/5).toFixed(2)
      }
    )
  }
 
  // End Defining data
  var options = {
    legend:{
      display: false,
      labels: {
        fontColor:'#000',
        fontFamily:'sans-serif'
      }
    },
    elements: { 
      point: { 
        radius: 5,
        hitRadius: 8, 
        hoverRadius: 8,
      } 
    },
    hover: {
        mode: 'nearest',
        intersect: true,
        legend: {
          display: false
        }
    },
    scales: {
      yAxes: [
        {
          gridLines: {
              display: false
          },
        }
      ],
      xAxes: [
        {
          gridLines: {
              display: false
          },
        }
      ]
    },
    responsive: true, // Instruct chart js to respond nicely.
    maintainAspectRatio: false, // Add to prevent default behaviour of full-width/height 
  };

  // End Defining data
  var myChart = new Chart(ctx, {
    type: 'scatter',
    data: {
      datasets: [{
          label: '(PIN, POUT)', // Name the series
          data: dados, // Specify the data values array
          borderColor: 'rgba(41, 128, 185, 1.0)', // Add custom color border            
          backgroundColor: 'rgba(41, 128, 185, 0.8)',
          //pointRadius: 6,
        }
      ]
    },
    options: options
  });
*/

  var ganhos = {{ ganhos }}
  console.log(ganhos)
  let arr;

  ganhos.forEach(function (item) {
    $('#ganho').append("<option>" + item + "</option>");
  });

  var selected = ganhos[0]
  var my_form = document.getElementById("my_form");
  my_form.ganho.value = parseInt(selected);

  $('#ganho').change(function () {
    var selected = $(this).find("option:selected").text();
    console.log(selected)
    my_form.ganho.value = parseInt(selected);
  });

</script>

{% endblock %}