{% extends 'base.html' %}

{% load static  %}

{% block title %} Welcome to AmpFlier.org {% endblock %}

{% block content %}

  <!-- Masthead -->
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5"> Visualize the Behavior of Optical Amplifiers.</h1>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form>
            <div class="form-row">
              <div class="col-12 col-ml-3">
                <!-- 
                <button type="submit" class="btn btn-block btn-lg btn-primary">Aprenda como usar nossa plataforma.
                  <scroll-container>
                    <scroll-page id="tutorial"></scroll-page>
                  </scroll-container>
                </button> -->
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </header>

  <!-- Icons Grid -->
  <section class="features-icons bg-light text-center" id="tutorial">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="fas fa-play m-auto text-primary"></i>
              </div>
              <h3>Registry</h3>
              <p class="lead mb-0">Register your amplifiers on our platform.</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="fas fa-braille m-auto text-primary"></i>
              </div>
              <h3>Input Power vs Output Power</h3>
              <p class="lead mb-0">Generate the mask and observe the relationship 
                between input power and output power.
              </p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-check m-auto text-primary"></i>
              </div>
              <h3>Gain vs Noise figure</h3>
              <p class="lead mb-0">Point and click on a operation point to see an analyse of the relation between Gain and Noise.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

  <!-- Image Showcases -->
      <div class="container-fluid p-0" style="color: white">
        <div class="row no-gutters">
          <div class="col-lg-6 order-lg-2 text-white showcase-img">
              <img class = "img-fluid" src="{% static 'img/newamp1.png' %}" alt="Responsive image">
          </div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text" style="padding: 16px;">
            <h2>Registering an amplifier</h2>
            <p class="lead mb-0">Start using our platform by registering an amplifier. 
              Fill in the form, putting your name, an email for contact, 
              a reference number for your amplifier and attach the spreadsheet 
              csv, which has the operation data.</p>
              <p>
                <a class="btn btn-primary btn-lg" href="{% url 'new_amplifier' %}" role="button">New Amplifiers</a>
              </p>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-6 text-white showcase-img">
            <img class="img-fluid" src="{% static 'img/listaAmpGIF.gif' %}" alt="lista de amps" />
            </div>
          <div class="col-lg-6 my-auto showcase-text" style="padding: 16px;">
            <h2>Select an amplifier</h2>
            <p class="lead mb-0">On this page you can find the list of all the amplifiers 
              registered on our platform, click on any of them to observe their behavior.</p>
              <p>
                <a class="btn btn-primary btn-lg" href="{% url 'amplifiers' %}" role="button">Amplifiers</a>
              </p>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-6 order-lg-2 text-white showcase-img">
            <img class="img-fluid" src="{% static 'img/amplifiersGIF.gif' %}" alt="this slowpoke moves" />
            <!-- <img class = "img-fluid" src="{% static 'img/pontos-amp.png' %}" alt="Responsive image"> -->
          </div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text" style="padding: 16px;">
            <h2>Behavior analysis</h2>
            <p class="lead mb-0">On this page you can see the relationship between input and output power
               of the selected amplifier, in addition it is possible to click on any of the points 
               to analyze the gain at that point, in certain frequency channels.
            </p>
          </div>
        </div>
      </div>
    
    
  <!-- Testimonials -->
  <section class="testimonials text-center bg-light">
      <div class="container">
        <h2 class="mb-5">Team</h2>
        <div class="row">
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <a href="https://github.com/erickIC"> 
              <img class="img-fluid rounded-circle mb-3" src="{% static 'img/erick.jpg' %}" alt="Orientador"></a>
              <h5>Erick A. Barboza</h5>
              <p class="font-weight-light mb-0">Assistant Professor at the Computing Institute of the Federal University of Alagoas,
                PhD (2017) in Electrical Engineering from Federal University of Pernambuco.</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <a href="https://github.com/wagnerfilho1995">
              <img class="img-fluid rounded-circle mb-3" src="{% static 'img/wagner.jpeg' %}" alt=""></a>
              <h5>Wagner Williams B. F. Filho</h5>
              <p class="font-weight-light mb-0">Computer Engineering, UFAL.</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <a href="https://github.com/allanbz">
              <img class="img-fluid rounded-circle mb-3" src="{% static 'img/allan1.jpeg' %}" alt=""></a>
              <h5>Allan A. Bezzera</h5>
              <p class="font-weight-light mb-0">Computer Engineering, UFAL.</p>
            </div>
          </div>
          <div class="col-lg-4">
              <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                <img class="img-fluid rounded-circle mb-3" src="{% static 'img/carlos.jpg' %}" alt="">
                <h5>J. Carlos Pinheiro</h5>
                <p class="font-weight-light mb-0">Computer Engineering, UFAL.</p>
              </div>
            </div>
          <div class="col-lg-4">
              <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                <a href="https://github.com/AndressaM">
                <img class="img-fluid rounded-circle mb-3" src="{% static 'img/andressa.png' %}" alt=""></a>
                <h5>Andressa M. Oliveira</h5>
                <p class="font-weight-light mb-0">Computer Engineering, UFAL.</p>
              </div>
            </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
  <footer class="footer bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
            <ul class="list-inline mb-2">
              <li class="list-inline-item">
                <a href="{% url 'about'%}">About</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="{% url 'contact'%}">Contact</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Terms of Use</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Privacy Policy</a>
              </li>
            </ul>
            <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2019. All Rights Reserved.</p>
          </div>
          <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
            <ul class="list-inline mb-0">
              <li class="list-inline-item mr-3">
                <a href="#">
                  <i class="fab fa-facebook fa-2x fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item mr-3">
                <a href="#">
                  <i class="fab fa-twitter-square fa-2x fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-instagram fa-2x fa-fw"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>


{% endblock %}
