{% extends 'base.html' %}

{% load static  %}

{% block title %} Welcome to AmpFlier.org {% endblock %}

{% block content %}

  <!-- Masthead -->
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">Visualize o Comportamento de Amplificadores Ópticos.</h1>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form>
            <div class="form-row">
              <div class="col-12 col-ml-3">
                <!-- 
                <button type="submit" class="btn btn-block btn-lg btn-primary">Aprenda como usar nossa plataforma.
                  <scroll-container>
                    <scroll-page id="tutorial"></scroll-page>
                  </scroll-container>
                </button> -->
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </header>

  <!-- Icons Grid -->
  <section class="features-icons bg-light text-center" id="tutorial">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="fas fa-play m-auto text-primary"></i>
              </div>
              <h3>Registro</h3>
              <p class="lead mb-0">Registre seus amplificadores em nossa plataforma.</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="fas fa-braille m-auto text-primary"></i>
              </div>
              <h3>Potência de Entrada vs Potência de Saída</h3>
              <p class="lead mb-0">Gere a mascara e observe a relação entre potência de entrada
                e potência de saída.
              </p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-check m-auto text-primary"></i>
              </div>
              <h3>Ganho vs Figura de ruído</h3>
              <p class="lead mb-0">Clique em um ponto de operação para analisar a relação entre
                ganho e ruído.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

  <!-- Image Showcases -->
  <section class="showcase">
      <div class="container-fluid p-0" style="color: white">
        <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img">
            <img class = "img-fluid" src="{% static 'img/newamp.png' %}" alt="Responsive image">
        </div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <h2>Registrando um amplificador</h2>
            <p class="lead mb-0">Comece a usar a nossa plataforma cadastrando
               um amplificador. Preencha o formulário, colocando seu nome, um email para contato, um
              número de refência para seu amplificador e anexe a planilha csv, que possui os dados de operação.</p>
              <br/>
              <p>
                <a class="btn btn-primary btn-lg" href="{% url 'new_amplifier' %}" role="button">Novo Amplificador</a>
              </p>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-6 text-white showcase-img">
              <img class = "img-fluid" src="{% static 'img/lista.PNG' %}" alt="Responsive image">
          </div>
          <div class="col-lg-6 my-auto showcase-text">
            <h2>Selecione um amplificador</h2>
            <p class="lead mb-0">Nesta página você encontra a lista de todos os amplificadores registrados
              em nossa plataforma, clique em algum deles para observar seu comportamento.</p>
              <br/>
              <p>
                <a class="btn btn-primary btn-lg" href="{% url 'amplifiers' %}" role="button">Amplificadores</a>
              </p>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-6 order-lg-2 text-white showcase-img">
            <img class = "img-fluid" src="{% static 'img/pontos-amp.png' %}" alt="Responsive image">
          </div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <h2>Analise do comportamento</h2>
            <p class="lead mb-0">Nesta página você pode observar a relação entre potência de entrada e de saída
              do amplificador selecionado, além disso é possível clicar em qualquer um dos pontos para analisar
              o ganho nesse ponto, em determinados canais de frequência.
            </p>
          </div>
        </div>
      </div>
    </section>
    
  <!-- Testimonials -->
  <section class="testimonials text-center bg-light">
    
      <div class="container">
        <h2 class="mb-5">Equipe</h2>
        <div class="row">
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="{% static 'img/erick.jpg' %}" alt="Orientador">
              <h5>Erick A. Barboza</h5>
              <p class="font-weight-light mb-0">Professor na UFAL, Doutorado em Comunicações Ópticas na instituição de ensino UFPE</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="{% static 'img/wagner.jpeg' %}" alt="">
              <h5>Wagner Williams B. F. Filho</h5>
              <p class="font-weight-light mb-0">Engenharia de Computação, UFAL.</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="{% static 'img/allan1.jpeg' %}" alt="">
              <h5>Allan A. Bezzera</h5>
              <p class="font-weight-light mb-0">Engenharia de Computação, UFAL.</p>
            </div>
          </div>
          <div class="col-lg-4">
              <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                <img class="img-fluid rounded-circle mb-3" src="{% static 'img/carlos.jpg' %}" alt="">
                <h5>J. Carlos Pinheiro</h5>
                <p class="font-weight-light mb-0">Engenharia de Computação, UFAL.</p>
              </div>
            </div>
          <div class="col-lg-4">
              <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                <img class="img-fluid rounded-circle mb-3" src="{% static 'img/andressa.png' %}" alt="">
                <h5>Andressa M. Oliveira</h5>
                <p class="font-weight-light mb-0">Engenharia de Computação, UFAL.</p>
              </div>
            </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
  <footer class="footer bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
            <ul class="list-inline mb-2">
              <li class="list-inline-item">
                <a href="#">About</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Contact</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Terms of Use</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Privacy Policy</a>
              </li>
            </ul>
            <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2019. All Rights Reserved.</p>
          </div>
          <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
            <ul class="list-inline mb-0">
              <li class="list-inline-item mr-3">
                <a href="#">
                  <i class="fab fa-facebook fa-2x fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item mr-3">
                <a href="#">
                  <i class="fab fa-twitter-square fa-2x fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-instagram fa-2x fa-fw"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>


{% endblock %}
