{% extends 'base.html' %}
{% load static %}

{% block title %} Cadastrando Modelo {% endblock %}

{% block content %}
<div class="container">
  <br />
  <!-- Main Content -->
      <div id="content" class="container">
        <div class="row">
          <!-- Area Chart -->
          <div class="col">
            <br />
            <div class="card shadow">
              <!-- Card Header -->
              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <div class="header">
                  <h5 class="m-0 font-weight-bold" style="font-weight: bold; color: rgb(33, 37, 41)">{{ amp.reference }}
                  </h5>
                  <caption class="m-0 font-weight-bold text-primary">PIBITI Ufal</caption>
                </div>
              </div>
              <!-- Card Body -->
              <div class="card-body"> 
                <h3>
                  Cadastre um novo Modelo em nossa plataforma!
                </h3> 
                <form method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  {{ form.as_p }}
                  <button type="submit" class="btn btn-primary btn-block" style="width: 20%;">Cadastrar</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
{% endblock %}