{% extends 'base.html' %}
{% load static %}

{% block title %} Cadastrando Modelo {% endblock %}

{% block content %}
<div class="container">
  <br />
  <!-- Main Content -->
      <div id="content" class="container">
        <div class="row">
          <!-- Area Chart -->
          <div class="col">
            <br />
            <div class="card shadow">
              <!-- Card Header -->
              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <div class="header">
                  <h5 class="m-0 font-weight-bold" style="font-weight: bold; color: rgb(33, 37, 41)">{{ amp.reference }}
                  </h5>
                  <caption class="m-0 font-weight-bold text-primary">PIBITI Ufal</caption>
                </div>
              </div>
              <!-- Card Body -->
              <div class="card-body"> 
                <h3>
                  Register a new model on our platform!
                </h3> 
                <form method="post" enctype="multipart/form-data">
                  {% for field in form %}
                  {% csrf_token %}
                  <div class="fieldWrapper">
                      {{ field.errors }}
                      {% if field.name == 'model_type' %}
                        {{ field.label_tag }} <i class="fas fa-info-circle" style="color: blue" data-toggle="tooltip" data-placement="top" title="Please, write a name to your Model type."></i>
                        {{ field }}
                      {% endif %}
                      {% if field.name == 'amplifier' %}
                        {{ field.label_tag }} <i class="fas fa-info-circle" style="color: blue" data-toggle="tooltip" data-placement="top" title="Please, choose a Mask of an Amplifiers registered on our platform."></i>
                        {{ field }}
                      {% endif %}
                      {% if field.name == 'file_h5' %}
                        {{ field.label_tag }}<span class="badge badge-info">.H5</span>  <i class="fas fa-info-circle" style="color: blue" data-toggle="tooltip" data-placement="top" title="Please, upload the .h5 file of the Network structure."></i>
                        {{ field }}
                      {% endif %}
                      {% if field.name == 'file_txt' %}
                        {{ field.label_tag }}<span class="badge badge-info">.TXT</span> <i class="fas fa-info-circle" style="color: blue" data-toggle="tooltip" data-placement="top" title="Please, upload an txt file that contains Model's information."></i>
                        {{ field }}
                      {% endif %}
                      {% if field.help_text %}
                      <p class="help">{{ field.help_text|safe }}</p>
                      {% endif %}
                  </div>
                  {% endfor %}
                </br>
                <button type="submit" class="btn btn-primary btn-block" style="width: 20%;">Send</button>
              </form>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
{% endblock %}