{% extends 'base.html' %}
{% load static %}
{% block title %} About Operational Amplifiers {% endblock %}

{% block content %}

<div class="container">
  <br />
  <main>
    <div class="container">
      <div class="carousel slide" id="main-carousel" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#main-carousel" style="background-color: white;" data-slide-to="0" class="active"></li>
          <li data-target="#main-carousel" style="background-color: white;" data-slide-to="1"></li>
          <li data-target="#main-carousel" style="background-color: white;" data-slide-to="2"></li>
          <li data-target="#main-carousel" style="background-color: white;" data-slide-to="3"></li>
        </ol><!-- /.carousel-indicators -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="card" style="text-align: justify; padding: 16px; background-color: white; height: 400px;">
              <div class="card-header" style="background-color: white;">
                <h4 class="card-title">Resumo</h4>
              </div>
              <div class="card-body">
                <p>   Entender o comportamento do amplificador óptico em situações diversas é um
                  ponto crucial para a correta utilização deste dispositivo nas redes ópticas.
                  Fatores como tipo do amplificador, potência de entrada, ganho e quantidade de
                  canais, influenciam no comportamento do amplificador. Grande parte das
                  empresas que realizam planejamento de redes ópticas utilizam um modelo
                  antigo no qual o comportamento do amplificador é constante, independente dos
                  fatores citados acima. Contudo, em um ambiente dinâmico, essa consideração
                  simplista torna o planejamento da rede ainda mais distante da implementação.
                  Diante disso, o objetivo deste trabalho é desenvolver um software que
                  possibilite a modelagem e a visualização do comportamento do amplificador,
                  considerando a variação deste comportamento de acordo com os fatores que o
                  influenciam. Tal software, quando utilizado no contexto de planejamento de
                  redes ópticas, tornará o processo de simulação e otimização muito mais fiel à
                  realidade, possibilitando um planejamento mais eficiente. Portanto, visto que a
                  correta configuração do amplificador óptico depende de um bom entendimento
                  do seu comportamento, e que esse dispositivo tem impacto no desempenho da
                  rede óptica como um todo, a utilização deste software em empresas que
                  realizam planejamento de redes ópticas (ex: Cisco, Nokia Networks e PadTec)
                  acarretará em melhores resultados em termos de desempenho e custo.</p>
              </div>
            </div>
            <br />
            <br />
          </div>
          <div class="carousel-item">
            <div class="card" style="text-align: justify; padding: 16px; background-color: white; height: 400px;">
              <div class="card-header" style="background-color: white;">
                <h4 class="card-title">Caracterização do problema</h4>
              </div>
              <div class="card-body">
                <p>Amplificadores Ópticos são equipamentos de extrema importância para o
                  funcionamento da rede óptica, pois compensam as perdas de potência que o
                  sinal sofre durante a transmissão, mantendo a potência dos canais em níveis
                  adequados à recepção. Por outro lado, o amplificador óptico também pode
                  degradar o sinal ao alterar o formato do sinal e inserir ruído. Portanto, é
                  necessário a correta definição do ponto de operação destes dispositivos para
                  que a qualidade da transmissão seja privilegiada. Para que esta definição
                  aconteça de forma eficiente, é fundamental que os pontos no qual o
                  amplificador pode operar estejam bem definidos, ou seja, que exista uma
                  modelagem precisa do comportamento do amplificador em diferentes cenários.
                  Atualmente esta modelagem considera que os amplificadores possuem o
                  mesmo comportamento em cenários diversos. Portanto, é necessária uma
                  modelagem mais precisa que considere um maior volume de informações,
                  tornando, assim, a criação de um modelo uma tarefa mais complexa.</p>
              </div>
            </div>
            <br />
            <br />
          </div>
          <div class="carousel-item">
            <div class="card" style="text-align: justify; padding: 16px; background-color: white; height: 400px;">
              <div class="card-header" style="background-color: white;">
                <h4 class="card-title">Proposta</h4>
              </div>
              <div class="card-body">
                <p>Vivemos em uma sociedade extremamente dependente da tecnologia para se
                  comunicar. Visto que as redes ópticas são as redes que formam a “espinha
                  dorsal” por onde passam os maiores volumes de tráfego de dados do mundo,
                  desenvolvimentos tecnológicos nesta área (como o software aqui proposto)
                  trazem benefícios em escala mundial e interferem na vida da grande maioria
                  das pessoas direta ou indiretamente.</p>
                  <p>O objetivo geral deste projeto é apresentar um software que possibilite a
                  modelagem e visualização mais detalhada e correta do funcionamento do
                  amplificador óptico.</p>
              </div>
            </div>
            <br />
            <br />
          </div>
          <div class="carousel-item">
            <div class="card" style="text-align: justify; padding: 16px; background-color: white; height: 400px;">
              <div class="card-header" style="background-color: white;">
                <h4 class="card-title">Conclusão</h4>
              </div>
              <div class="card-body">
                <p>Um software que auxilie na modelagem e projeção de um bom comportamento dos amplificadores
                  ópticos é essencial para projetar redes ópticas melhores do que as que existem atualmente. 
                  Vivemos em uma sociedade extremamente dependente da tecnologia para se comunicar. 
                  Uma vez que as redes ópticas são as redes que formam a “espinha dorsal” por onde passam os 
                  maiores volumes de tráfego de dados do mundo, desenvolvimentos tecnológicos nesta área, como é o
                  caso do nosso projeto, trazem benefícios em escala mundial e interferem na vida da grande maioria 
                  das pessoas direta ou indiretamente.</p>
              </div>
            </div>
            <br />
            <br />
          </div>
        </div>
        <a href="#main-carousel" class="carousel-control-prev" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
          <span class="sr-only" aria-hidden="true">Prev</span>
        </a>
        <a href="#main-carousel" class="carousel-control-next" data-slide="next">
          <span class="carousel-control-next-icon"></span>
          <span class="sr-only" aria-hidden="true">Next</span>
        </a>  
      </div>
      <!-- Testimonials -->
      <section class="testimonials text-center">
        <div class="container">
          <h2 class="mb-5" style="color: white">Equipe</h2>
          <div class="row">
            <div class="col-lg-4">
              <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                <img class="img-fluid rounded-circle mb-3" src="{% static 'img/erick.jpg' %}"  alt="Orientador">
                <h5 style="color: white">Erick A. Barboza</h5>
                <p style="color: white" class="font-weight-light mb-0">Professor na UFAL, Doutorado em Comunicações Ópticas na instituição de ensino UFPE</p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                <img class="img-fluid rounded-circle mb-3" src="{% static 'img/wagner.jpeg' %}" alt="">
                <h5 style="color: white">Wagner Williams B. F. Filho</h5>
                <p style="color: white" class="font-weight-light mb-0">Engenharia de Computação, UFAL.</p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                <img class="img-fluid rounded-circle mb-3" src="{% static 'img/allan1.jpeg' %}" alt="">
                <h5 style="color: white">Allan A. Bezzera</h5>
                <p style="color: white" class="font-weight-light mb-0">Engenharia de Computação, UFAL.</p>
              </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                  <img class="img-fluid rounded-circle mb-3" src="{% static 'img/carlos.jpg' %}" alt="">
                  <h5 style="color: white">J. Carlos Pinheiro</h5>
                  <p style="color: white" class="font-weight-light mb-0">Engenharia de Computação, UFAL.</p>
                </div>
              </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                  <img class="img-fluid rounded-circle mb-3" src="{% static 'img/andressa.png' %}" alt="">
                  <h5 style="color: white">Andressa M. Oliveira</h5>
                  <p style="color: white" class="font-weight-light mb-0">Engenharia de Computação, UFAL.</p>
                </div>
              </div>
          </div>
        </div>
      </section>
    </div><!-- /.container -->

</div>

{% endblock %}