{% extends 'base.html' %}
{% load static %}
{% block title %} About Operational Amplifiers {% endblock %}

{% block content %}

<div class="container">
  <br />
  <main>
    <div class="container">
      <div class="carousel slide" id="main-carousel" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#main-carousel" style="background-color: white;" data-slide-to="0" class="active"></li>
          <li data-target="#main-carousel" style="background-color: white;" data-slide-to="1"></li>
        </ol><!-- /.carousel-indicators -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="card" style="text-align: justify; padding: 16px; background-color: white; height: 500px;">
              <div class="card-header" style="background-color: white;">
                <h4 class="card-title">Summary</h4>
              </div>
              <div class="card-body">
                <p>Understanding the behavior of the optical amplifier in 
                  different situations is a crucial point for the correct use 
                  of this device in optical networks. Factors such as amplifier type, 
                  input power, gain and number of channels, influence the amplifier's 
                  behavior. Most companies that carry out optical network planning use 
                  an old model in which the amplifier's behavior is constant, regardless
                   of the factors mentioned above. However, in a dynamic environment, 
                   this simplistic consideration makes network planning even further 
                   from implementation. Therefore, the objective of this work is to develop 
                   a software that allows the modeling and visualization of the amplifier's 
                   behavior, considering the variation of this behavior according to the factors 
                   that influence it. Such software, when used in the context of optical network 
                   planning, will make the simulation and optimization process much more faithful 
                   to reality, allowing for more efficient planning. Therefore, since the correct 
                   configuration of the optical amplifier depends on a good understanding of its 
                   behavior, and that this device has an impact on the performance of the optical 
                   network as a whole, the use of this software in companies that carry out optical
                    network planning (ex: Cisco, Nokia Networks and PadTec) will result in better 
                    results in terms of performance and cost.</p>
              </div>
            </div>
            <br />
            <br />
          </div>
          <div class="carousel-item">
            <div class="card" style="text-align: justify; padding: 16px; background-color: white; height: 500px;">
              <div class="card-header" style="background-color: white;">
                <h4 class="card-title">The Maskvision</h4>
              </div>
              <div class="card-body">
                <p>Optical amplifiers are extremely important equipment for the operation of the 
                  optical network, as they compensate for the loss of power that the signal suffers 
                  during transmission, maintaining the power of the channels at levels suitable for 
                  the reception. On the other hand, the optical amplifier can also degrade the signal 
                  by changing the signal format and inserting noise. Therefore, it is necessary to 
                  correctly define the point of operation of these devices so that the quality of the 
                  transmission is enhanced. For this definition to happen efficiently, it is essential 
                  that the points at which the amplifier can operate are well defined, that is, that there 
                  is accurate modeling of the amplifier's behavior in different scenarios. Currently, 
                  this modeling considers that the amplifiers have the same behavior in different scenarios.</p>
                  <p>Therefore, more precise modeling is necessary, considering a larger volume of information, 
                    thus making the creation of a model a more complex task.
                  </p>
                  <p>The general objective of this project is to present a software that enables more 
                    detailed and correct visualization and modeling of the optical amplifier operation.
                  </p>
                  <p>A software that assists in the modeling and projection of good behavior of optical 
                    amplifiers is essential to design optical networks better than those that currently 
                    exist. Therefore, we present Maskvision as a tool that will help the development of 
                    future optical communication networks.
                  </p>
              </div>
            </div>
            <br />
            <br />
          </div>
        </div>
      </div>
      <!-- Testimonials -->
      <section class="testimonials text-center">
        <div class="container">
          <h2 class="mb-5" style="color: white">Team</h2>
          <div class="row">
            <div class="col-lg-4">
              <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                <img class="img-fluid rounded-circle mb-3" src="{% static 'img/erick.jpg' %}"  alt="Orientador">
                <h5 style="color: white">Erick A. Barboza</h5>
                <p style="color: white" class="font-weight-light mb-0">Professor na UFAL, Doutorado em Comunicações Ópticas na instituição de ensino UFPE</p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                <img class="img-fluid rounded-circle mb-3" src="{% static 'img/wagner.jpeg' %}" alt="">
                <h5 style="color: white">Wagner Williams B. F. Filho</h5>
                <p style="color: white" class="font-weight-light mb-0">Engenharia de Computação, UFAL.</p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                <img class="img-fluid rounded-circle mb-3" src="{% static 'img/allan1.jpeg' %}" alt="">
                <h5 style="color: white">Allan A. Bezzera</h5>
                <p style="color: white" class="font-weight-light mb-0">Engenharia de Computação, UFAL.</p>
              </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                  <img class="img-fluid rounded-circle mb-3" src="{% static 'img/carlos.jpg' %}" alt="">
                  <h5 style="color: white">J. Carlos Pinheiro</h5>
                  <p style="color: white" class="font-weight-light mb-0">Engenharia de Computação, UFAL.</p>
                </div>
              </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                  <img class="img-fluid rounded-circle mb-3" src="{% static 'img/andressa.png' %}" alt="">
                  <h5 style="color: white">Andressa M. Oliveira</h5>
                  <p style="color: white" class="font-weight-light mb-0">Engenharia de Computação, UFAL.</p>
                </div>
              </div>
          </div>
        </div>
      </section>
    </div><!-- /.container -->
</div>

{% endblock %}