{% extends 'base.html' %}
{% load static %}
{% block title %} About Operational Amplifiers {% endblock %}

{% block content %}

<div class="container">
  <br />
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Regressive Models</h4>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-4">
          <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list"
              href="#list-home" role="tab" aria-controls="home">RNA</a>
            <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile"
              role="tab" aria-controls="profile">SVM</a>
          </div>
        </div>
        <div class="col-8">
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list" style="text-align: justify;">
              A neural network is a network or circuit of neurons, or in a modern sense, an artificial neural network, composed of artificial 
              neurons or nodes.[1] Thus a neural network is either a biological neural network, made up of real biological neurons, or an 
              artificial neural network, for solving artificial intelligence (AI) problems. The connections of the biological neuron are modeled as weights.
            </div>
            <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list" style="text-align: justify;">
              In machine learning, support-vector machines (SVMs, also support-vector networks[1]) are supervised learning models with 
              associated learning algorithms that analyze data used for classification and regression analysis. The Support Vector 
              Machine (SVM) algorithm is a popular machine learning tool that offers solutions for both classification and regression problems. </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</br>
<div>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Modelos treinados</h4>
    </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Model</th>
            <th scope="col">Amplifier</th>
            <th scope="col">Struct</th>
            <th scope="col">Error</th>
          </tr>
        </thead>
        <tbody>
          {% for mod in modelos %}
          <tr>
                <td>{{ mod.id }}</td>
                <td>{{ mod.model_type }}</td>
                <td>{{ mod.amplifier.reference }}</td>
                <td>
                    <a  href="/media/{{ mod.file_h5 }}" download> Download</a>
                </td>
                <td>
                  <a  href="{% url 'error' mod.id %}"><i class="far fa-eye"></i></a>
                </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>
  <br />
</div>
</div>
{% endblock %}
