{% extends 'base.html' %}
{% load static %}
{% block title %} About Operational Amplifiers {% endblock %}

{% block content %}
<br>
<div class="container">

  <head>
    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  </head>
  <div class="list-group">
    <div class="list-group-item list-group-item-action active">
      Training Error
    </div>
    <div class="list-group-item list-group-item-action">
      {{ grafico | safe }}
    </div>
  </div>
  
  <br>

  <div class="list-group">
    <div class="list-group-item list-group-item-action active">
      Test Error
    </div>
    <div class="list-group-item list-group-item-action">
      {{ boxplot | safe }}
    </div>
    <br>
  </div>
  {% endblock %}